services:

  frontend:
    image: nginx
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "80:81"

  backend:
    image: node:22.9.0
    volumes:
      - ./backend:/usr/src/app:rw
      ports:
        - "82:9000"
    working_dir: /usr/src/app
    command: sh -c "
      chmod +x run.sh &&
      ./ run.sh"
    links:
      - database

  database:
    image: mongo:7.0.3
    volumes:
      - ./database/docker-entrypoint-initdb.d:ro
    ports:
      - "83:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password