.car-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 750px;
}

.car-details-placeholder {
  font-size: 1.5rem;
  color: #999;
}

.car-details-image {
  margin-bottom: 30px;
}

.car-details-image img {
  max-width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.car-details-name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.car-details-description {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 500px;
}

.car-details-price {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}
