.cars-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cars-page-content {
  display: flex;
  flex-grow: 1;
}

.cars-list {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.car-details-container {
  width: 50%;
  padding: 40px 20px;
}
